<div class="container mt-5">
    
    <div class="row d-flex justify-content-center">
        
        <div class="col-md-7">
            
            <div class="card p-3 py-4">
                
                <div class="text-center position-relative">
                    <img src="../../assets/profile.jpg" width="100" class="rounded-circle">
                    <button class="change-button">
                      <i class="fa fa-camera"></i>
                    </button>
                  </div>
                                                
                <div class="text-center mt-3">
                    <span class="bg-secondary p-1 px-4 rounded text-white">Admin</span>
                    <h5 class="mt-2 mb-0">Dennis Giancarlo Huaranga Apolinario</h5>
                    <span>DeGian</span>
                    
                    <div class="px-4 mt-1">
                        <span class="fonts">75315750@certus.edu.pe</span>
                        <br>
                        <span class="fonts">+51 923235597</span>
                    
                    </div>
                    
                     <ul class="social-list">
                        <li><i class="fa fa-whatsapp"></i></li>
                        <li><i class="fa fa-facebook"></i></li>
                        <li><i class="fa fa-instagram"></i></li>
                        <li><i class="fa fa-google"></i></li>
                        <li><i class="fa fa-linkedin"></i></li>
                    </ul>
                    
                    <div class="buttons">
                        
                        <button class="btn btn-outline-primary px-4">Editar</button>
                        <button class="btn btn-primary px-4 ms-3">Historial</button>
                    </div>

                </div>

            </div>
            
        </div>
        
    </div>
    
</div>